extends layouts/main-layout.pug

//- any page which extends another template file need to use blocks to render it 
block content
    //- h1 This is home page.
    //- p #{userLoggedIn.firstName}

    //- calling a mixin function
    +createPostForm(userLoggedIn)
    .postsContainer