extends layouts/main-layout.pug

//- any page which extends another template file need to use blocks to render it 
block content
    //- h1 This is home page.
    //- p #{userLoggedIn.firstName}

    //- calling a mixin function
    +createPostForm(userLoggedIn)
    .postsContainer

    //- +createReplyModal(userLoggedIn)
    //- +createDeletePostModal(userLoggedIn)

    //- clubbed the above 2 fucntions into 1
    //- contains all the frontend code required by posts anywhere.
    +createPostModals(userLoggedIn)

block scripts 
    script(src="./js/home.js")